{% extends "base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.4"></script>

<h1>
    Granny's Cookies Sales Statistics
</h1>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-1 mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">Record Profits!</div>
            <div class="card-body" id=profits-graph>
                <p class="card-text">Our profits are steadily climbing!</p>
                <script>
                    document.getElementById("profits-graph").appendChild(
                        Plot.plot({
                            x: {label: "Date"},
                            y: {label: "$ Profit", grid: true},
                            marks: [Plot.line([
                                [new Date("2022-01-01"), 84],
                                [new Date("2022-01-16"), 653],
                                [new Date("2022-02-01"), 987],
                                [new Date("2022-02-16"), 1934],
                                [new Date("2022-03-01"), 3712],
                                [new Date("2022-03-16"), 3298],
                                [new Date("2022-04-01"), 4717],
                            ])],
                        })
                    );
                </script>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Record Sales!</div>
            <div class="card-body" id=sales-graph>
                <p class="card-text">So are our sales numbers!</p>
                <script>
                    document.getElementById("sales-graph").appendChild(
                        Plot.plot({
                            x: {label: "Date"},
                            y: {label: "Units Sold", grid: true},
                            marks: [Plot.line([
                                [new Date("2022-01-01"), 15],
                                [new Date("2022-01-16"), 89],
                                [new Date("2022-02-01"), 126],
                                [new Date("2022-02-16"), 219],
                                [new Date("2022-03-01"), 371],
                                [new Date("2022-03-16"), 340],
                                [new Date("2022-04-01"), 485],
                            ])],
                        })
                    );
                </script>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Customer Satisfaction</div>
            <div class="card-body">
                <p class="card-text">Our users love Granny's Old-Fashioned Home-Baked Cookies!</p>
                <h1 class="card-text" style="font-size: 4rem;">😟 ➕ 🍪 ➡️ 😀</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Flag</div>
            <div class="card-body">
                {% if user == "admin" %}
                <p>Welcome <code>admin</code>! The flag is <code>{{ flag }}</code>.</p>
                {% else %}
                <p>Sorry, but this information is only for the <code>admin</code>'s eyes!</p>
                <p>
                    Here at Granny's Old-Fashioned Home-Baked Cookie Factory,
                    we're proud to say that we take security very seriously.
                    Therefore, you won't be able to hack us, because we definitely don't have any
                    <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000531">critical vulnerabilities</a>
                    in our code.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
