{% extends "base.html" %}

{% block content %}

<h1>
    Welcome to Granny's Old-Fashioned Home-Baked Cookie Factory!
</h1>

<p>
    We mix the nostalgia-inducing taste of Granny's cookie recipes with the great things about today's modern world:
    low prices, easy convenience, and top-notch security.
    Especially that last one.
    Trust us!
</p>

<div class="card">
    <div class="card-header">Latest News</div>
    <div class="card-body">
        <h5 class="card-title">A Global Hit!</h5>
        <p class="card-text">FOR IMMEDIATE RELEASE: In the last quarter, Granny's Cookie Factory reached record profit levels!</p>
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary">See Dashboard</a>
    </div>
</div>

{% endblock %}
